<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisheep.dao.SignInDao">
    <insert id="insertFaceImageToAllFaceImageFileTable" statementType="PREPARED">
        insert into openlookeng.face_imgs(face_img_path) values (#{filePath});
    </insert>
</mapper>